@tailwind base;
@tailwind components;
@tailwind utilities;

#audio {
  background: green;
}

#dataResult::-webkit-scrollbar {
  display: none;
}

#dataResult {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
